.banner {
    width: 100%;
    height: 34vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 0 5rem 0;
}
.about-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}
.about-section-top, .about-section-bottom {
    display: flex;
    margin: 2rem;
}
.about-section-top .about-section-detail {
    margin-right: 5rem;
}
.about-section-bottom .about-section-detail {
    margin-left: 7rem;
}
.about-section-detail {
    width: 62%;
}
.about-section-img {
    width: 25rem;
    height: 25rem;
    border: 4px solid grey;
}
.about-section-img img {
    width: 25rem;
    height: 25rem;
    position: relative;
    bottom: 24px;
    left: 20px;
}
.about-section-detail > *{
    margin: 0 0 1.5rem 0;
}
.about-section-detail p {
    font-size: 18px;
    line-height: 1.5rem;
}