.navbar {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);

  z-index: 2;
}

.lakhey-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  min-width: 100%;
  background-color: white;
  /* padding: 1.5rem 6rem; */
}

.lakhey-navbar a {
  color: #6c757d;
}

.active-page {
  color: #dc3545 !important;
}

.lakhey-navbar a:active {
  color: #dc3545;
}

.lakhey-navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lakhey-navbar-links-logo {
  margin-right: 2rem;
}

.lakhey-navbar-links-logo img {
  width: 4rem;
  height: 4rem;
}

.lakhey-navbar-links-container {
  display: flex;
  flex-direction: row;
}

.lakhey-navbar-links-container p {
  color: black;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
}
.lakhey-navbar-links-container p:hover {
  color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.active-page {
  font-weight: 800;
  color: red;
}

.sign-in:before,
.sign-up:before {
  font-family: "FontAwesome";
  margin-right: 5px;
}

.sign-in:before {
  content: "\f2bd";
}

.sign-up:before {
  content: "\f090";
}
